body {
  background-color: bisque;
}

header {
  background-color: azure;
}

ul {
  list-style-type: none;
}
li {
  padding-bottom: 10px;
}
html {
  display: flex;
  margin: 0;
  padding: 0;
}
header ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.columns {
  background-color: rosybrown;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.services {
  max-width: 25%;
  float: left;
}

.testimonials {
  float: right;
  max-width: 25%;
}

.main-content {
  float: left;
  max-width: 50%;
  margin-top: 25px;
}

footer {
  background-color: blueviolet;
}

@media screen and (max-width: 768px) {
  .columns {
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
  }

  .columns;
}
